# Ignore les fichiers et dossiers temporaires de Unity
[Tt]emp/
[Tt]emp/*

# Ignore les dossiers de la bibliothèque et de la configuration
[Ll]ibrary/
[Ll]ibrary/*

# Ignore les fichiers de la configuration
ProjectSettings/

# Ignore les dossiers d'exportation
Build/

# Ignore les fichiers log
*.log

# Ignore les fichiers qui peuvent être générés localement
*.swp
*.suo

# Ignore les fichiers de l'éditeur qui ne sont pas nécessaires
.idea/
.vscode/

# Ignore les fichiers de compilation
*.obj
*.exe
*.dll
*.app
*.so
*.dylib

# Ignore les fichiers de cache pour les packages Unity
[Pp]ackageCache/

# Ignore les métadonnées des packages
[Pp]ackages/

# Ignore les dossiers et fichiers de l'Asset Store
AssetStoreTools/

# Ignore les fichiers de sauvegarde du projet
*.bak
*.backup
